$mainColor: #54ff65;
@mixin VerticalCenter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin PageCenter {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}

@mixin StandardBorder {
  border: {
    color: $mainColor;
    width: 1px;
    style: solid;
  }
}

@mixin ScrollBar {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 6px;
    box-shadow: 0 0 8px $mainColor;
  }
}
